.container {
  border: 1px solid red;
}

.row {
  border: 1px solid yellow;
}

.col {
  border: 1px solid blue;
}

/* remove defaults */
.menu-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

.button-container .menu-button {
  width: 100%;
}

.active-link {
  color: red;
}

#return {
  width: 20px;
}
