@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Monofett&family=Titillium+Web&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--endeavour-200);
    background-color: var(--endeavour-50);
    margin: 0%;
    padding: 20px;
}

.nav-logo {

    & p {
        font-family: 'Bitter', serif;
        color: var(--endeavour-800);
        font-weight: 800;
        font-size: xx-large;
    }

    & a {
        display: block;
    }
}

.nav__links {
    list-style: none;
    border-radius: 5px;

    & li {
        display: inline-block;
        padding: 2px 20px;
    }

    & a {
        transition: all 0.3s ease 0s;
        display: block;
        color: var(--endeavour-600);
    }

    & a:hover {
        padding: 2px 20px;
        background-color: var(--endeavour-500);
        color: var(--endeavour-100);
    }
}

.login {
    & button {
        font: inherit;
        color: var(--endeavour-50);
        padding: 5px 22px;
        border: none;
        background-color: var(--endeavour-500);
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    & button:active {
        color: var(--endeavour-500);
    }
}